out
logs/*
.idea/workspace.xml
/.idea/
.idea/
/target/subgraph-mining-1.0.jar
/target/subgraph-mining-1.0-jar-with-dependencies.jar
/target
hs_err*
src/main/sbm.iml

/subgraph-utils/target/
/subgraph-core/target/
/subgraph-search/target/
/graphulotest/target/
